# Ignore the Python Virtual Environment
venv/

# Ignore the locally generated Data Lake and Delta Tables
data_lake/

# Ignore the locally generated raw data and initialization files
*.json

# Ignore the locally generated execution logs
*.txt
!requirements.txt
logs/

# Standard Python Cache
__pycache__/
*.pyc
*.pyo

# Frontend (Next.js)
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/

# Environment Variables
.env
.env.*
!.env.example

# Kafka Certificates
*.pem
*.key
*.cert